aiodns
aiofiles
aiohttp
aioredis
asgiref
async-timeout
asyncio-throttle
attrs
backoff
boto3
botocore
cerberus
certifi
cffi
chardet
charset-normalizer
click
confluent-kafka
cryptography
defusedxml
diff-match-patch
Django
django-currentuser
django-filter
django-guardian
django-guid
django-import-export
django-lifecycle
djangorestframework
djangorestframework-queryfields
docutils
drf-access-policy
drf-nested-routers
drf-spectacular
dynaconf
et-xmlfile
filesplit
gnupg
gunicorn
idna
inflection
Jinja2
jmespath
jsonschema
MarkupPy
MarkupSafe
mock
multidict
odfpy
openpyxl
pexpect
pika
plumb
plumbum
psutil
psycopg2
ptyprocess
pulpcore
pulpcore-client
pycares
pycparser
pycurl
pydantic
pygtrie
pyfakefs
pyparsing
pyrsistent
python-dateutil
python-gnupg
pytz
PyYAML
requests
rq
s3transfer
six
sqlparse
tablib
typing-extensions
uritemplate
urllib3
urlman
whitenoise
xlrd
xlwt
yarl
