plumbum==1.8.3
requests>=2.31.0
filesplit==3.0.2
pulpcore-client==3.53.0
scikit_build==0.17.6
cerberus==1.3.5
validators==0.28.1
pycurl==7.45.3
pyyaml==5.4.1
pydantic==2.7.1
pexpect==4.9.0
python-gnupg==0.5.2
sentry-sdk==2.6.0
websocket-client==0.59.0
# Pin cryptography module for now. More info at:
# https://jasonralph.org/?p=997
cryptography==42.0.5
pgpy==0.6.0
git+https://github.com/AlmaLinux/immudb-wrapper.git@0.1.4#egg=immudb_wrapper
